---
http_interactions:
- request:
    method: post
    uri: https://firehose.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"DeliveryStreamName":"test-stream","Records":[{"Data":"c29tZSBkYXRhCg=="},{"Data":"bW9yZSBkYXRhCg=="}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Firehose_20150804.PutRecordBatch
      X-Amz-Date:
      - 20160526T204248Z
      X-Amz-Content-Sha256:
      - 46abc6a5b3638e3d8b76072597aade6f9ebad6eee1e4935c232a1be5e3842214
      Authorization:
      - AWS4-HMAC-SHA256 Credential=akid/20160526/us-east-1/firehose/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=bad19647525c88c8307912d614088b00d9c26a644934eac53c62530eacef1ef6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6a098c7c-2382-11e6-9ea8-514fc73df602
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"FailedPutCount":0,"RequestResponses":[{"RecordId":"SOMEID"},{"RecordId":"SOMEOTHERID"}]}'
  recorded_at: Thu, 17 Mar 2016 15:43:58 GMT
recorded_with: VCR 2.9.3
