---
http_interactions:
- request:
    method: post
    uri: https://firehose.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"DeliveryStreamName":"invalid-stream-name","Record":{"Data":"c29tZSBkYXRhCg=="}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Firehose_20150804.PutRecord
      X-Amz-Date:
      - 20160526T210311Z
      X-Amz-Content-Sha256:
      - 174411b44d27135ef894b2bfc487dacf8753738bc6070405ece770a2c5acfd65
      Authorization:
      - AWS4-HMAC-SHA256 Credential=akid/20160526/us-east-1/firehose/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=ae6474afcfb57bd28f8540c6e43fb12bae6cd41fe2db9b1994ce47c514b87703
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 42fabd77-2385-11e6-be61-91f005091ebf
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"__type":"ResourceNotFoundException","message":"Firehose invalid-stream-name
        not found under account 000111222333."}'
  recorded_at: Thu, 26 May 2016 21:03:12 GMT
recorded_with: VCR 2.9.3
