---
http_interactions:
- request:
    method: post
    uri: https://firehose.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"DeliveryStreamName":"some-stream","Record":{"Data":"c29tZSBkYXRhCg=="}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Firehose_20150804.PutRecord
      X-Amz-Date:
      - 20160526T205525Z
      X-Amz-Content-Sha256:
      - b770027680e36df60472bda3598bc24ab1b28083f6c0bae0f858715d2830ed83
      Authorization:
      - AWS4-HMAC-SHA256 Credential=akid/20160526/us-east-1/firehose/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=5dd75f094a5b67f726c7ea3333102a3d9a870975e9357efa48d13c35ae5e26c6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2cfe307f-2384-11e6-9868-69152542a0c3
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"RecordId":"SOMEID"}'
  recorded_at: Thu, 26 May 2016 20:55:25 GMT
recorded_with: VCR 2.9.3
