---
http_interactions:
- request:
    method: post
    uri: https://firehose.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"DeliveryStreamName":"invalid-stream-name","Records":[{"Data":"c29tZSBkYXRhCg=="}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Firehose_20150804.PutRecordBatch
      X-Amz-Date:
      - 20160526T204248Z
      X-Amz-Content-Sha256:
      - 51d39395cb7e526eb7bac24de83e3012137401a5d77dcaf4308119c1c69a8f33
      Authorization:
      - AWS4-HMAC-SHA256 Credential=akid/20160526/us-east-1/firehose/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=bb4def5cb89830d9f160f15e40b4327f556bd719d7b9cc1c06084bf43e342ef2
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 69cc5bea-2382-11e6-aaa0-171acafcc56d
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"__type":"ResourceNotFoundException","message":"Firehose invalid-stream-name
        not found under account 000111222333."}'
  recorded_at: Thu, 26 May 2016 20:42:48 GMT
recorded_with: VCR 2.9.3
